.coaches {
  padding: 82px 0 104px;

  @media (max-width: $bp-tablet-only) {
    padding: 74px 0 104px;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 38px 0 70px;
  }
}

.coaches__wrapper {
  max-width: $bp-max-limiter;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.coaches__title {
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
  margin: 0;
  padding-left: calc(8% - 3px);

  @media (max-width: $bp-tablet-only) {
    font-size: 42px;
    letter-spacing: 1.26px;
    text-align: center;
    padding-left: 0;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.coaches__slider-wrapper {
  margin: 48px 8% 0;
  margin-left: calc(8% - 6px);
  margin-right: calc(8% - 6px);

  @media (max-width: $bp-tablet-only) {
    margin: 30px 13% 0;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 42px 15% 0;
  }
}

.coaches__profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coaches__photo {
  width: 100%;
  height: auto;

  & img {
    width: 100%;
    background-color: #c4c6cf;
    object-fit: cover;

    @media (max-width: $bp-tablet-only) {
      min-height: 294px;
    }

    @media (max-width: $bp-mobile-only) {
      min-height: 274px;
    }

    @media (width: 768px) {
      max-height: 294px;
    }
  }
}

.coaches__name {
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: absolute;
  bottom: 22px;
  overflow-wrap: anywhere;

  @media (max-width: $bp-tablet-only) {
    bottom: 34px;
  }

  &--hidden {
    display: none;
  }
}

.coaches__more-info {
  padding: 20% 10%;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(16, 38, 84, 0.9);
  display: none;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: 0;

  &--visible {
    display: flex;
    flex-direction: column;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 42px 6% 20px;
  }
}

.coaches__info-name {
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-align: center;
  overflow-wrap: anywhere;
}

.coaches__info-company {
  color: #b6bdcc;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  overflow-wrap: anywhere;
}

.coaches__info-list {
  margin: 30px 0 0;
  padding: 0 0 0 22%;

  @media (max-width: $bp-mobile-only) {
    margin: 20px 0 0;
    padding: 0 0 0 18%;
  }
}

.coaches__info-item {
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;

  @media (max-width: $bp-mobile-only) {
    margin: 5px 0 0;
  }
}

.coaches__button {
  border: 0;
  background: 0;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;

  @include focus-visible;

  &:hover,
  &:focus {
    border: 1px solid #102654;
    border-radius: 50%;
    box-sizing: border-box;
  }

  &:active {
    border: 1px solid #102654;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #102654;

    & use {
      stroke: #ffffff;
    }
  }

  &--prev {
    top: 62%;
    left: 27px;
    cursor: pointer;

    @media (max-width: $bp-tablet-only) {
      top: 59%;
      left: 25px;
    }

    @media (max-width: $bp-mobile-only) {
      top: 65%;
      left: 14px;
      width: 12px;
      height: 21px;
    }

    &::after {
      display: none;
    }
  }

  &--next {
    top: 62%;
    right: 27px;
    cursor: pointer;

    @media (max-width: $bp-tablet-only) {
      top: 59%;
      right: 25px;
    }

    @media (max-width: $bp-mobile-only) {
      top: 65%;
      right: 14px;
      width: 12px;
      height: 21px;
    }

    &::after {
      display: none;
    }
  }
}
