.contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 56px 20px 64px 18%;
  border-top: 1px solid #74819c;
  box-sizing: border-box;

  @media (max-width: $bp-tablet-only) {
    padding: 64px 100px 64px 16%;
    align-items: center;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 62px 4%;
    align-items: flex-start;
  }
}

.contacts__wrapper {
  @media (max-width: $bp-tablet-only) {
    margin: 0 0 0 4px;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 0 0 0 2px;
  }
}

.contacts__title {
  text-align: left;

  @media (max-width: $bp-tablet-only) {
    font-size: 42px;
    line-height: normal;
    letter-spacing: 1.26px;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.contacts__list {
  list-style-type: none;
  margin: 36px 0 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  column-gap: 122px;
  position: relative;

  @media (max-width: $bp-tablet-only) {
    column-gap: 96px;
    margin: 30px 0 0;
  }

  @media (max-width: $bp-mobile-only) {
    grid-template-columns: 100%;
    margin: 34px 0 0;
    row-gap: 22px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 102px;
    background-color: #74819c;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);

    @media (max-width: $bp-mobile-only) {
      display: none;
    }
  }
}

.contacts__item-title {
  display: block;
  color: #102654;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @media (max-width: $bp-tablet-only) {
    font-size: 20px;
  }
}

.contacts__item-text {
  margin-top: 5px;
  display: block;
  color: #102654;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @media (max-width: $bp-tablet-only) {
    font-size: 18px;
  }
}

.contacts__list-wrapper {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: $bp-tablet-only) {
    gap: 20px;
  }
}
