.free-training {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 66px 25% 64px 20px;
  background-color: $color-sapphire;

  @media (max-width: $bp-tablet-only) {
    padding: 60px 14% 66px;
    align-items: center;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 64px 4% 68px;
  }
}

.free-training__wrapper {
  @media (max-width: $bp-tablet-only) {
    margin-right: 30px;
  }

  @media (max-width: $bp-mobile-only) {
    width: 100%;
  }
}

.free-training__title {
  color: $color-default-white;
  text-align: left;
  letter-spacing: 2.4px;

  @media (max-width: $bp-tablet-only) {
    font-size: 42px;
    line-height: normal;
    letter-spacing: 1.64px;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.free-training__form-container {
  display: flex;
  justify-content: space-between;

  @media (max-width: $bp-mobile-only) {
    flex-direction: column;
    gap: 0;
    margin: 22px 0 0 0;
  }
}

.free-training__button {
  padding: 16px 164px;
  background-color: transparent;
  color: $color-default-white;
  font-size: 14px;

  @media (max-width: $bp-tablet-only) {
    padding: 16px 196px;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 16px;
    margin: 18px 0 0;
    width: 100%;
  }

  @include focus-visible;
}
