.gym {
  @include centred-flex;
  padding-top: 120px;
  padding-right: calc(7% + 6px);
  padding-bottom: 234px;
  padding-left: calc(12% + -5px);
  position: relative;

  @media (max-width: $bp-tablet-only) {
    flex-direction: column;
    padding: 60px 6% 182px 6%;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 62px 0 72px;
  }
}

.gym__wrapper {
  max-width: $bp-max-limiter;
  display: flex;
  justify-content: space-between;

  @media (max-width: $bp-tablet-only) {
    flex-direction: column;
  }
}

.gym__container {
  max-width: 36%;

  @media (max-width: $bp-tablet-only) {
    max-width: 100%;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 0 15px;
  }
}

.gym__title {
  margin: 40px 0 0 4px;
  text-align: left;
  font-size: 48px;
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.44px;
  margin-top: 40px;

  @media (max-width: $bp-tablet-only) {
    font-size: 42px;
    letter-spacing: 1.26px;
    text-align: center;
  }

  @media (max-width: $bp-mobile-only) {
    text-align: left;
    margin: 0;
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.gym__info {
  margin: 8px 0 0 4px;
  display: block;
  font-size: 18px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @media (max-width: $bp-tablet-only) {
    margin-top: 0;
    display: block;
    text-align: center;
  }

  @media (max-width: $bp-mobile-only) {
    text-align: left;
    margin: 6px 0 0 0;
  }
}

.gym__description {
  margin: 38px 0 0 4px;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 150%;

  @media (max-width: $bp-tablet-only) {
    text-align: center;
    margin: 34px 0 0;
    padding: 0 8%;
  }

  @media (max-width: $bp-mobile-only) {
    text-align: left;
    padding: 0 10% 0 0;
    margin: 24px 0 0;
  }

  &--hidden {
    margin: 10px 0 0 4px;
    padding: 0 30px 0 0;

    @media (max-width: $bp-tablet-only) {
      display: none;
    }
  }
}

.gym__picture {
  position: relative;
  height: fit-content;

  @media (max-width: $bp-tablet-only) {
    margin-top: 42px;
  }

  @media (max-width: $bp-mobile-only) {
    margin-top: 32px;
  }

  & img {
    width: 100%;
    background-color: #dcdfea;
  }
}

.gym__video {
  background-color: #dcdfea;
  position: absolute;
  top: 72%;
  left: -10%;

  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(20, 54, 122, 0.5);
  }

  @media (max-width: $bp-tablet-only) {
    top: 76%;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (max-width: $bp-mobile-only) {
    position: relative;
    transform: none;
    top: 0;
    left: 0;
    margin-top: 40px;
  }

  & img {
    width: 100%;
  }
}
