.hero {
  padding: 50px 10% 51px 8%;
  background: $main-screen-gradient;

  @media (max-width: $bp-tablet-only) {
    padding: 82px 6% 82px 5%;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 114px 4% 80px;
    justify-content: center;
  }
}

.hero__wrapper {
  margin-right: 15%;
  max-width: $bp-max-limiter;
  display: flex;
  justify-content: space-between;

  @media (max-width: $bp-tablet-only) {
    margin-right: 0;
  }

  @media (max-width: $bp-mobile-only) {
    justify-content: center;
  }
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 0 0 11px;
  margin-right: 5%;

  @media (max-width: $bp-tablet-only) {
    margin: 0 4% 0 7px;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 0;
    width: 100%;
    align-items: center;
  }
}

.hero__text-wrapper {
  display: flex;
}

.hero__main-text-wrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $bp-tablet-only) {
    margin-left: 14px;
  }

  @media (max-width: $bp-mobile-only) {
    margin-left: 0;
  }
}

.hero__text {
  display: block;
  text-align: right;

  &--city {
    font-size: 48px;
    font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
    font-weight: 600;
    letter-spacing: 1.44px;
    color: $color-default-white;
    margin-top: 130px;
    margin-right: 50px;

    @media (max-width: $bp-tablet-only) {
      margin-top: 58px;
      margin-right: 0;
      font-size: 34px;
      letter-spacing: 1.02px;
    }

    @media (max-width: $bp-mobile-only) {
      margin: 0 4px 0 0;
      font-size: 28px;
      letter-spacing: 0.84px;
    }
  }

  &--place {
    text-align: right;
    font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
    font-size: 92px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4.6px;
    color: $color-default-white;
    margin: 30px 0 0 16px;
    text-transform: uppercase;

    @media (max-width: $bp-tablet-only) {
      font-size: 72px;
      letter-spacing: 3.6px;
      margin: 14px 0 0 10px;
      text-transform: none;
    }

    @media (max-width: $bp-mobile-only) {
      margin: 16px 0 0 16px;
    }
  }

  &--additional {
    @include text-small;
    color: $color-default-white;
    margin: 306px 0 0 3px;
    word-wrap: break-word;

    @media (max-width: $bp-tablet-only) {
      margin: 186px 0 0 0;
    }

    @media (max-width: $bp-mobile-only) {
      margin: 118px -24px 0 0;
      max-width: 120px;
    }
  }
}

.hero__link {
  bottom: 0;

  @include buttons-regular;
  color: $color-default-white;
  margin-top: 48px;
  padding: 20px 56px;


  @media (max-width: $bp-tablet-only) {
    margin-top: 36px;
    padding: 20px 30px;
  }

  @media (max-width: $bp-mobile-only) {
    width: 100%;
    text-align: center;
    margin-top: 24px;
    padding: 20px 8%;
  }

  @include focus-visible;
}

.hero__picture {
  background-color: #04072a;

  @media (max-width: $bp-mobile-only) {
    display: none;
  }
}
