.link {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;

  @include focus-visible;

  &:hover {
    opacity: 0.8;
  }

  &:focus {
    outline: 1px solid #ffffff;
    outline-offset: 10px;

    &::before {
      display: none;
    }
  }

  &:active {
    outline: 0;
    opacity: 1;

    &::before {
      display: block;
    }
  }

  &:disabled {
    opacity: 0.3;
  }

  &--dark-bg {
    &:hover {
      opacity: 0.8;
    }

    &:focus {
      outline: 1px solid #102654;
      outline-offset: 10px;

      &::before {
        display: none;
      }
    }

    &:active {
      outline: 0;
      opacity: 1;

      &::before {
        display: block;
      }
    }

    &:disabled {
      opacity: 0.3;
    }
  }
}
