.main-footer {
  flex-grow: 0;
  flex-shrink: 0;
  padding-left: calc(7% + 6px);
  padding-right: calc(7% + 6px);
  min-height: 108px;
  background-color: $color-black-russian;

  @media (max-width: $bp-tablet-only) {
    padding: 0 44px;
    min-height: 114px;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 48px 16px;
    min-height: 200px;
  }
}

.main-footer__wrapper {
  max-width: $bp-max-limiter;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $bp-mobile-only) {
    flex-direction: column;
  }
}

.main-footer__nav-list {
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  gap: 40px;
  position: relative;
  padding: 0 0 0 116px;
  max-width: calc(100% - 120px);

  @media (max-width: $bp-tablet-only) {
    padding: 0 0 0 118px;
    gap: 31px;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 100%;
    column-gap: 33px;
    row-gap: 15px;
  }
}

.main-footer__nav-item {
  @media (max-width: $bp-mobile-only) {
    letter-spacing: 1px;
  }

  &--logo {
    position: absolute;
    left: 0;
    user-select: none;
    padding-top: 8px;

    @media (max-width: $bp-tablet-only) {
      padding-top: 0;
    }

    @media (max-width: $bp-mobile-only) {
      position: static;
      order: 1;
    }
  }

  @include focus-visible;

  @media (max-width: $bp-mobile-only) {
    &--offers {
      order: 2;
    }

    &--gym {
      order: 3;
    }

    &--coaches {
      order: 4;
    }

    &--membership {
      order: 5;
    }

    &--faq {
      order: 6;
    }
  }
}

.main-footer__nav-link {
  @include text-small;
  color: $color-default-white;
  cursor: pointer;
  padding: 10px 0;
  box-sizing: border-box;
  position: relative;

  &:hover {
    border-bottom: 1px solid $color-default-white;
  }

  &:focus {
    &::after {
      position: absolute;
      content: "";
      top: -1px;
      right: -6px;
      bottom: -1px;
      left: -6px;
      border: 1px solid $color-default-white;
    }
  }

  &:active {
    &::before,
    &::after {
      display: none;
    }
  }

  &:disabled {
    color: opacify($color-default-white, 0.4);
  }

  @include focus-visible;
}

.main-footer__social-list {
  margin: 0;
  padding: 20px 0;
  list-style: none;
  display: flex;
  justify-items: center;
  flex-wrap: wrap;
  gap: 12px;
  max-width: 110px;


  @media (max-width: $bp-tablet-only) {
    gap: 10px;
  }

  @media (max-width: $bp-mobile-only) {
    margin: 14px auto 0 0;
    max-width: 100%;
    gap: 9px;
  }
}

.main-footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: $color-default-white;
  border-radius: 50%;
  cursor: pointer;

  & svg {
    fill: $color-sapphire;
  }

  &:hover,
  &:focus {
    background-color: $color-egyptian-blue;

    & svg {
      fill: $color-default-white;
    }
  }

  &:active {
    background-color: $color-sapphire;

    & svg {
      fill: $color-default-white;
    }

    &:disabled {
      background-color: transparentize($color-sapphire, 0.4);
    }
  }

  @include focus-visible;
}

.main-footer__logo {
  margin-top: 5px;

  @include focus-visible;

  @media (max-width: $bp-tablet-only) {
    margin-top: 0;
  }
}
