.membership {
  padding: 120px 6%;
  background-color: $color-ghost-white;
  position: relative;
}

.membership__title {
  margin: 0;
  text-align: center;
  color: #102654;
  font-family: Alumni Sans;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
}

.membership__tabs-wrapper {
  position: relative;

  &::after {
    position: absolute;
    content: '';
    height: 2px;
    width: 370px;
    background-color: rgba(120, 120, 120, 0.20);;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: $bp-tablet-only) {
      width: 330px;
    }

    @media screen and (max-width: $bp-mobile-only) {
      width: 280px;
    }
  }
}

.membership__tab {
  color: rgba(16, 38, 84, 0.50);
  font-family: 'Roboto Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @media (max-width: $bp-tablet-only) {
    font-size: 18px;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 16px;
  }
}

.membership__card {
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 24vw;
  padding: 5vw 0;
  position: relative;
  border: 7px solid $color-default-white;

  &:hover {
    border-image: $button-gradient 1;
  }

  @media (max-width: $bp-tablet-only) {
    width: 58vw;
  }

  @media (max-width: $bp-mobile-only) {
    width: 90vw;
  }
}

.membership__card-plan {
  color: #102654;
  text-align: center;
  font-family: 'Roboto Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 110.156%;
}

.membership__card-info {
  margin-top: 22px;
  color: #495A7D;
  font-family: 'Roboto Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.membership__card-price-wrapper {
  position: relative;
}

.membership__card-price {
  display: block;
  margin-top: 96px;
  color: #103AAE;
  font-family: 'Roboto Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: relative;
}

.membership__card-price-shadow {
  color: rgba(#E8E8E8, 0.7);
  font-family: 'Roboto Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: absolute;
  top: 42px;
  left: -20px;
}

.membership__button {
  margin-top: 60px;
  padding: 28px 44px;
  box-sizing: border-box;
  color: #102654;
  font-family: 'Roboto Condensed', 'Arial', 'Helvetica', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

.membership__decor {
  position: absolute;
  transform: rotate(150deg);
  right: -110px;
  bottom: -90px;
}
