.membership {
  padding: 120px 3% 240px;
  background-color: $color-ghost-white;
  overflow: hidden;
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%);
  background-repeat: no-repeat;
  background-size: 100% 120px;
  background-position: bottom center;

  @media (max-width: $bp-tablet-only) {
    padding: 102px 6% 180px;
    background-size: 100% 80px;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 62px 5% 70px;
    background-size: 0;
  }
}

.membership__wrapper {
  position: relative;
  max-width: $bp-max-limiter;
  margin-left: auto;
  margin-right: auto;
}

.membership__title {
  margin: 0;
  text-align: center;
  color: #102654;
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;

  @media (max-width: $bp-tablet-only) {
    font-size: 42px;
    letter-spacing: 1.26px;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 32px;
    letter-spacing: 0.96px;
  }
}

.membership__tabs-wrapper {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $bp-mobile-only) {
    gap: 44px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 2px;
    width: 100%;
    background-color: rgba(120, 120, 120, 0.2);
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
  }
}

.membership__tab {
  color: rgba(16, 38, 84, 0.5);
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  user-select: none;
  position: relative;

  @include focus-visible;

  &:hover,
  &:focus {
    color: rgba(16, 38, 84, 1);

    &::after {
      position: absolute;
      content: "";
      height: 2px;
      width: 100%;
      background-color: #d10a42;
      bottom: -12px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (max-width: $bp-tablet-only) {
    font-size: 18px;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 16px;
    letter-spacing: 0;
  }
}

.membership__card {
  background-color: $color-default-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%;
  padding: 54px 10px 62px;
  position: relative;
  border: 7px solid $color-default-white;

  &:hover {
    border-image: $button-gradient 1;

    & a {
      outline: 0;
      color: $color-default-white;
      background: $button-gradient;
    }

    & a:active {
      outline: 0;
      color: rgba($color-default-white, 0.7);
      background: $button-gradient;
    }
  }

  &:focus-within {
    border-image: $button-gradient 1;
  }

  @media (max-width: $bp-tablet-only) {
    width: 65%;
    padding: 58px 0;
  }

  @media (max-width: $bp-mobile-only) {
    width: 100%;
    padding: 38px 0 46px;
  }
}

.membership__card-plan {
  color: #102654;
  text-align: center;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;

  @media (max-width: $bp-mobile-only) {
    font-size: 22px;
  }
}

.membership__card-info {
  margin-top: 12px;
  color: #495a7d;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;

  @media (max-width: $bp-tablet-only) {
    margin-top: 12px;
  }
}

.membership__card-price-wrapper {
  position: relative;
}

.membership__card-price {
  display: block;
  margin-top: 62px;
  color: #103aae;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: relative;
  overflow-wrap: anywhere;

  @media (max-width: $bp-tablet-only) {
    margin-top: 64px;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 48px;
    line-height: 150%;
    margin-top: 54px;

    & svg {
      transform: scale(0.8);
    }
  }
}

.membership__card-price-shadow {
  color: rgba(#e8e8e8, 0.7);
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  position: absolute;
  top: 10px;
  left: -20px;
  user-select: none;

  @media (max-width: $bp-tablet-only) {
    top: 10px;
  }

  @media (max-width: $bp-mobile-only) {
    font-size: 80px;
    line-height: 150%;
    margin-left: 6px;
  }
}

.membership__button {
  margin-top: 36px;
  padding: 23px 44px;
  box-sizing: border-box;
  color: #102654;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  text-transform: uppercase;

  @include focus-visible;

  @media (max-width: $bp-tablet-only) {
    padding: 24px 44px;
  }

  @media (max-width: $bp-mobile-only) {
    padding: 24px 16%;
    margin-top: 30px;
  }
}

.membership__decor {
  position: absolute;
  transform: rotate(150deg);
  right: -150px;
  bottom: -216px;

  @media (max-width: $bp-tablet-only) {
    right: -54px;
    bottom: -178px;
    width: 290px;
  }

  @media (max-width: $bp-mobile-only) {
    display: none;
  }
}

.membership__card-list {
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;

  @media (max-width: $bp-mobile-only) {
    gap: 44px;
  }
}
