.page__container {
  height: 100%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  background-color: $color-default-white;
  position: relative;
}
