.play-button {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  background: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;

  @media (max-width: $bp-tablet-only) {
    width: 73px;
    height: 73px;
  }

  &:hover,
  &:focus,
  &:active {
    & .play-button__default {
      display: none;
    }

    & .play-button__active {
      display: block;
    }
  }

  &:disabled {
    & .play-button__default {
      display: none;
    }

    & .play-button__active {
      display: block;
      opacity: 0.4;
    }
  }

  & img {
    background-color: transparent;
  }
}

.play-button__active {
  display: none;
}
