.reviews {
  @include centred-flex;
  padding: 92px 0;
  background-color: $color-default-white;

  @media (max-width: $bp-tablet-only) {
    padding: 92px 0 76px;
  }
}

.reviews__wrapper {
  max-width: $bp-max-limiter;
  width: 100%;
}

.reviews__container {
  margin-top: 40px;
  padding: 0 29%;
  position: relative;

  @media (max-width: $bp-tablet-only) {
    padding: 0 13%;
  }
}

.reviews__post {
  background-color: #1c3374;
  position: relative;
  padding: 54px 60px 40px 176px;

  @media (max-width: $bp-mobile-only) {
    padding: 40px 24px;
  }
}

.reviews__name {
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;

  @media (max-width: $bp-mobile-only) {
    display: block;
    padding-top: 6px;
    padding-left: 108px;
  }
}

.reviews__text {
  color: #ffffff;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.reviews__avatar {
  background-color: #5b606b;
  border-radius: 50%;
  position: absolute;
  top: 60px;
  left: 60px;

  @media (max-width: $bp-mobile-only) {
    width: 68px;
    height: 68px;
    top: 40px;
    left: 40px;
  }
}

.reviews__button-prev {
  left: 24%;
  color: #afafaf;

  @media (max-width: $bp-tablet-only) {
    left: 6%;
  }

  @media (max-width: $bp-mobile-only) {
    left: 4%;

    &::after {
      font-size: 22px;
    }
  }
}

.reviews__button-next {
  right: 24%;
  color: #afafaf;

  @media (max-width: $bp-tablet-only) {
    right: 6%;
  }

  @media (max-width: $bp-mobile-only) {
    right: 4%;

    &::after {
      font-size: 22px;
    }
  }
}
