.title {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #102654;
  font-family: 'Alumni Sans', 'Arial', 'Helvetica', sans-serif;
  font-size: 54px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.62px;
}
