@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin hover {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }
}

@mixin focus {
  &.focus-visible:focus {
    @content;
  }
}

@mixin active {
  &.focus-visible:active {
    @content;
  }
}

@mixin hover-focus {
  @media (hover: hover) {
    &:hover:not(.focus-visible) {
      @content;
    }
  }

  &.focus-visible:focus {
    @content;
  }
}

// Desktop first

@mixin vp-1919 {
  @media (max-width: ($vp-1920 - 1px)) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: ($vp-1440 - 1px)) {
    @content;
  }
}

@mixin vp-1279 {
  @media (max-width: ($vp-1280 - 1px)) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: ($vp-1024 - 1px)) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: ($vp-768 - 1px)) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: ($vp-375 - 1px)) {
    @content;
  }
}

// Mobile first

// @mixin vp-375 {
//   @media (min-width: $vp-375) {
//     @content;
//   }
// }

// @mixin vp-768 {
//   @media (min-width: $vp-768) {
//     @content;
//   }
// }

// @mixin vp-1024 {
//   @media (min-width: $vp-1024) {
//     @content;
//   }
// }

// @mixin vp-1280 {
//   @media (min-width: $vp-1280) {
//     @content;
//   }
// }

// @mixin vp-1440 {
//   @media (min-width: $vp-1440) {
//     @content;
//   }
// }

// @mixin vp-1920 {
//   @media (min-width: $vp-1920) {
//     @content;
//   }
// }

// ---------------------------------

// не нужно добавлять свои миксины для ресета списков, обнуления кнопок и прочие
// этим вы усложняете работу команды, проверку вашего кода и будущую поддержку проекта

@mixin h1 {
  color: $color-sapphire;
  text-align: right;
  font-size: 92px;
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 110px;
  letter-spacing: 4.6px;
  text-transform: uppercase;

  @media (max-width: $bp-tablet) {
    font-size: 72px;
    line-height: 86px;
    letter-spacing: 3.6px;
  }
}

@mixin h2 {
  color: $color-sapphire;
  text-align: center;
  font-size: 82px;
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 76px;
  letter-spacing: 2.46px;

  @media (max-width: $bp-tablet) {
    font-size: 48px;
    line-height: 46px;
    letter-spacing: 1.44px;
  }
}

@mixin h3 {
  color: $color-sapphire;
  font-size: 54px;
  font-family: "Alumni Sans", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 600;
  line-height: 54px;
  letter-spacing: 1.62px;

  @media (max-width: $bp-tablet) {
    text-align: center;
    font-size: 42px;
    line-height: 42px;
    letter-spacing: 1.26px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.96px;
  }
}

@mixin h4 {
  color: $color-sapphire;
  font-size: 26px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;

  @media (max-width: $bp-tablet) {
    text-align: center;
  }
}

@mixin h5 {
  color: $color-sapphire;
  font-size: 24px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;

  @media (max-width: $bp-tablet) {
    line-height: 26px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
  }
}

@mixin h6 {
  color: $color-sapphire;
  font-size: 22px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;

  @media (max-width: $bp-tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
  }
}

@mixin h7 {
  color: $color-sapphire;
  font-size: 18px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

@mixin text-large {
  color: $color-sapphire;
  font-size: 18px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @media (max-width: $bp-mobile) {
    line-height: 22px;
  }
}

@mixin text-regular {
  color: $color-sapphire;
  font-size: 16px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}

@mixin text-small {
  color: $color-sapphire;
  font-size: 14px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

@mixin buttons-tabs-lined {
  color: $color-sapphire;
  font-size: 20px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;

  @media (max-width: $bp-tablet) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (max-width: $bp-mobile) {
    font-size: 16px;
    line-height: 16px;
  }
}

@mixin buttons-tabs-button {
  color: $color-sapphire;
  text-align: center;
  font-size: 18px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;

  @media (max-width: $bp-mobile) {
    font-size: 16px;
    line-height: 16px;
  }
}

@mixin buttons-large {
  color: $color-sapphire;
  font-size: 14px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

@mixin buttons-regular {
  color: $color-sapphire;
  font-size: 12px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 12px;
  letter-spacing: 0.6px;
  text-transform: uppercase;
}

@mixin numbers-xlarge {
  color: $color-sapphire;
  font-size: 100px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 100px;

  @media (max-width: $bp-mobile) {
    font-size: 80px;
    line-height: 80px;
  }
}

@mixin numbers-large {
  color: $color-sapphire;
  font-size: 70px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 70px;

  @media (max-width: $bp-mobile) {
    font-size: 64px;
    line-height: 64px;
  }
}

@mixin desktop-numbers-medium {
  color: $color-sapphire;
  font-size: 60px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;

  @media (max-width: $bp-mobile) {
    font-size: 48px;
    line-height: 48px;
  }
}

@mixin numbers-regular {
  color: $color-sapphire;
  font-size: 40px;
  font-family: "Roboto Condensed", "Arial", "Helvetica", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;

  @media (max-width: $bp-tablet) {
    font-size: 24px;
    line-height: 24px;
  }
}
